// {
//     "presets":[
//         "env"
//     ],
//     "plugins":[
//         "transform-vue-jsx"
//     ]
// }
{

    "presets": ["@babel/preset-env"],
    
    "plugins": ["@babel/transform-runtime","transform-vue-jsx"]
    
    }
    
    